*.class

# Package Files #
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ignore Maven generated target folders
target
log
logs
.idea

# ignore eclipse files
.project
.classpath
.settings
.metadata
*.iml
.properties
